<mat-spinner *ngIf="isLoading"></mat-spinner>
<section fxLayout="column" fxLayoutAlign="space-evenly center">
  <mat-card class="card" *ngFor="let post of posts; let i = index">
    <a mat-button>
      <mat-card-title>
        {{ post.title }}
      </mat-card-title>
      <img class="post-image" [src]="post.imagePath" [alt]="post.title" mat-card-image>
      <mat-card-content>
        {{ post.content }}
      </mat-card-content>
    </a>
    <mat-card-actions>
      <div class="acions">
        <a *ngIf="currentUserIsAuth" mat-button color="primary" [routerLink]="['/edit', post.id]"><mat-icon>edit</mat-icon></a>
        <button *ngIf="currentUserIsAuth" mat-button color="warn" (click)="onDelete(post.id)"><mat-icon>delete</mat-icon></button>
      </div>
      <button mat-button class="download" color="accent" (click)="onDownload(post.imagePath)"><mat-icon>cloud_download</mat-icon></button>
    </mat-card-actions>
  </mat-card>
  <mat-paginator
    [length]="totalPosts"
    [pageSize]="postsPerPage"
    [pageSizeOptions]="pageSize"
    (page)="onChangePage($event)"
    *ngIf="(posts.length > 0)">
  </mat-paginator>
</section>
<p class="info-text mat-body-1" *ngIf="(posts.length <= 0 && !isLoading)">No posts added yet!</p>
